table, th, td {
    border: 1px solid #a0a0a0;
  }
.cabeca{
  text-align: center;
  background-color: #c0c0c0;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}
.darkcyan{
  background-color: darkcyan;
}
thead{
  background-color: #1dfe9f;
}