body{
    background-image: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-repeat: no-repeat;

    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}
header{
    text-align: center;
    animation: fadein 4s;
    padding: 10%;
    padding-bottom: 8%;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*
.cabecalho1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333333;
    border-top-width: 20px;
    
}
*/

li{
    list-style-type: none;
}
h1{
    
    color: white;
    font-size: 3.6vw;
    margin-bottom: 0%;
    font-weight: normal;
}

.phead{

    color: rgba(255, 255, 255, 0.65);
    font-size: 1.5vw;
    line-height: 150%;
}
a{
    color: inherit;
    text-decoration: none;
}
header a{
    border-bottom: dotted;
    border-width: 1px;
}
header a:hover{
    color: white;
    border-bottom: none;
    
}
nav{
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    width: 1400px;
    max-width: 95%;
    position: sticky;
    top: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
}

.ulnav{
    font-size: larger;
    color: #636363;
    padding: 10px;
    font-size: 1.3vw;
    font-weight: bold;
    margin: 0px;
}
.ulnav li{
    display: inline;
    padding-right: inherit;
    padding-left: inherit;
}
main{
    background-color: white;
    max-width: 95%;
    width: 1400px;
    margin: 0 auto;
    color: #636363;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.carlos{
    width: 1400px;
    max-width: 100%;
    height: 300px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.div1{
    width: 50%;
    text-align: justify;
    float: left;
    margin-left: 5%;
    font-size: 19.5px;
}
.div1 h2{
    font-size: 2.3vw;
    font-weight: normal;
}
.div1 h2::after {
    content: "";
    display: block;
    height: 2px;
    width: 120px;
    margin-top: 10px;
    background: linear-gradient(56deg, rgba(204,121,185,1) 0%,
     rgba(101,26,171,0.865983893557423) 50%,
     rgba(90,161,222,0.87718837535014) 100%);
}

.div1 button{
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(99, 99, 99, .2);
    width: 160px;
    height: 50px;
}

.celular{
    border-radius: 100%;
    float: right;
    width: 24%;
    padding: 10px;
    border: solid thin;
    border-color: rgba(99, 99, 99, .2);
    margin-right: 5%;
}

.sec1{
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: space-around;
}
hr{
    border-color: rgba(99, 99, 99, .2);
}


.claudio{
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 70px;
}

.ulclaudio li{
    width: 30%;
    float: left;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.4vw;
    line-height: 150%;
}
h3{
    font-weight: normal;
}

.claudio ul{
    text-align: center;
    margin: 0 auto;
    height: 400px;

}
.claudio i{
    position: relative;
    border: 1px solid rgba(99, 99, 99, .2);
    border-radius: 100%;  
    padding: 50px;
    font-size: 6vw;
    width: 100px;
    z-index: 0;
}
.claudio i:after{
    content: "";
    display: block;
}
.icone{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    border: 1px solid rgba(99, 99, 99, .2);
    padding: 10px;
    border-radius: 100%;
}
.claudio h2{
    font-size: 2.3vw;
    font-weight: normal;
    text-align: center;
}
.claudio h2::after {
    content: "";
    display: block;
    margin: 0 auto;
    height: 2px;
    width: 120px;
    margin-top: 10px;
    text-align: center;
    background: linear-gradient(56deg, rgba(204,121,185,1) 0%,
     rgba(101,26,171,0.865983893557423) 50%,
     rgba(90,161,222,0.87718837535014) 100%);
}
.claudio .fa-copy{
    color: #a89cc8;
}
.claudio .fa-code{
    color: #efa8b0;
}
.claudio .fa-gem{
    color: #8cc9f0;
}
.claudio button{
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(99, 99, 99, .2);
    width: 160px;
    height: 50px;
    margin: 0 45%;
}

.pedro{
    width: 90%;
    height: 700px;
    margin: 50px auto;
    margin-bottom: 17em;
}

.pedro h2{
    font-size: 2.3vw;
    font-weight: normal;
    text-align: center;
}
.pedro h2::after {
    content: "";
    display: block;
    margin: 0 auto;
    height: 2px;
    width: 120px;
    margin-top: 10px;
    text-align: center;
    background: linear-gradient(56deg, rgba(204,121,185,1) 0%,
     rgba(101,26,171,0.865983893557423) 50%,
     rgba(90,161,222,0.87718837535014) 100%);
}

.pedrop{
    text-align: center;
    font-size: 1.6vw;
    display: block;
    max-width: 50%;
    margin: 0 auto;
}
.pedro ul{
    width: 88%;
    margin: 5vw auto;
    padding: 20px;
    height: 180px;
    font-size: 1.4vw;
}
.pedro ul li{
    float: left;
    width: calc(100%/6 + 3.33%);
    padding: 2% 0;
    text-align: center;
    color: snow;
    height: 100%;
    
}
.pedro i{
    padding-top: 18px;
    font-size: 3.5vw;
}
.pedro ul p{
    margin-top: 5%;
}
.pedro strong{
    font-size: 2.5vw;
}
.li1{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #efa8b0;
}
.li2{
    background-color: #c79cc8;
}
.li3{
    background-color: #a89cc8;
}
.li4{
    background-color: #9bb2e1;
}
.li5{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #8cc9f0;
}
.potario{
    text-align: justify;
    font-size: 1.3vw;
    columns: 20em 2;
    column-width: 100px;
    width: 88%;
    display: block;
    margin: 0 auto;
}

.pedro button{
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(99, 99, 99, .2);
    width: 160px;
    height: 50px;
    margin: 0 45%;
    margin-top: 50px;
}

.bananada{
    width: 90%;
    height: 360px;
    margin: 50px auto;
}
.bananada h2{
    font-size: 2.3vw;
    font-weight: normal;
    text-align: center;
}
.bananada h2::after {
    content: "";
    display: block;
    margin: 0 auto;
    height: 2px;
    width: 120px;
    margin-top: 10px;
    text-align: center;
    background: linear-gradient(56deg, rgba(204,121,185,1) 0%,
     rgba(101,26,171,0.865983893557423) 50%,
     rgba(90,161,222,0.87718837535014) 100%);
}
.bananada p{
    text-align: center;
    font-size: 1.3vw;
    display: block;
    margin: 0 auto;
    max-width: 60%;
}
.botal{
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(99, 99, 99, .2);
    width: 160px;
    height: 50px;
    margin: 0 45%;
    margin-top: 50px;
}
.botag{
    background-color: #8cc9f0;
    border-radius: 5px;
    width: 160px;
    height: 50px;
    margin: 0 45%;
    margin-top: 50px;
    color: #FFFFFF;
    border: none;
    margin-right: 30px;
}
.bananada li{
    float: left;
}
.bananada ul{
    display: block;
    width: 30%;
    height: 100px;
    margin: 0;
    margin-right: 40%;
    margin-left: auto;
}