html{
    font-size: 14px;
    font-family: 'Baloo Tammudu 2', cursive;
}
header{
    position: relative;
    color: white;
    font-size: 1rem;
    margin-top: 15vh;
}
/*----------------------------------NavBar-----------------------------------------------*/
nav{
    position: sticky;
    top: 0;
    color: white;
    font-size: 1rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
nav ul{
    display: flex;
    flex-direction: row;
    padding-top: 6px;
    padding-bottom: 4px;
}
li{
    list-style-type: none;
    text-align: center;
}


nav a{
    color: inherit;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 6.5rem;
}

.fa-paper-plane{
    font-size: 1.2rem;
    padding: 0px 12px;
    margin: auto 0; 
}

.fa-chevron-down{
    font-size: .7rem;
}
.dd_content{
    display: none;
    position: absolute;
    width: inherit;
    z-index: 3;
}
.dd_content li{
    width: 100%;
}
.dropdown:hover .dd_content{
    display: block;
}
.dropdown i{
    animation: desroda forwards .2s;
}
.dropdown:hover i{
    animation: roda forwards .2s;
}
@keyframes roda{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(-180deg);
    }
}
@keyframes desroda{
    from{
        transform: rotateZ(-180deg);
    }
    to{
        transform: rotateZ(0deg);
    }
}
/*----------------------------------Main content-----------------------------------------------*/
main{
    position: relative;
    color: white;
    font-size: 1rem;
    width: 100vw;
}

/*----------------------------------Media Quaries-----------------------------------------------*/

@media screen and (min-width: 600px){
    html{
        font-size: 15px;
    }
    nav{
        width: 80vw;
        border-top-right-radius: .35em;
        border-top-left-radius: .35em;
    }
    main{
        font-size: 1rem;
        width: 80vw;
    }
    

}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 1024px){

}

@media screen and (min-width: 1440px){

}

@media screen and (min-width: 1440px){

}

@media screen and (min-width: 2000px){

}