*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: #000;
}

.wraper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.p_grupo{
    height: 100vh;
    width: 100vw;
    position: relative;
    transform-style: preserve-3d;
}

.main{
    width: auto;
    background-color: #090502;
    transform: translateZ(0px) scale(1);
    margin-top: 8vw;
    padding-top: 12vw;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -20vh;
}

.p_layer{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/*----------------------------------Paralax no topo da pagina-----------------------------------------------*/
.fundo1{
    background: url("../img/low/fundo_low.png") no-repeat center;
    background-size: cover;
    transform: translateZ(-800px) scale(4);
    z-index: 1;
}

.estrelas1{
    background: url("../img/low/estrelas1_low.png") no-repeat center;
    background-size: cover;
    transform: translateZ(-750px) scale(3.6);
    z-index: 2;
}

.estrelas2{
    background: url("../img/low/estrelas2_low.png") no-repeat center;
    background-size: cover;
    transform: translateZ(-700px) scale(3.4);
    z-index: 3;
}
.estrelas3{
    background: url("../img/low/estrelas3_low.png") no-repeat center;
    background-size: cover;
    transform: translateZ(-650px) scale(3.2);
    z-index: 4;
}

.montanha1{
    background: url("../img/low/montanha_low.png") no-repeat center;
    background-size: cover;
    transform: translateZ(-300px) scale(2);
    z-index: 5;
}
.montanha2{
    background: url("../img/low/montanhap2_low.png") no-repeat center;
    background-size: cover;
    transform: translateZ(-50px) scale(1.3);
    z-index: 6;
}

/*----------------------------------Conteúdo da página-----------------------------------------------*/

header{
    color: white;

}
nav{
    background-color: #353535;
    color: white;

}
.dd_content li:hover{
    background-color: #3C6E71;
}
main{
    background-color: #353535;
}

/*----------------------------------Media Quaries-----------------------------------------------*/

@media screen and (min-width: 600px){

}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 1024px){
    .fundo1{
        background-image: url("../img/medium/fundo_med.png");
    }
    .estrelas1{
        background-image: url("../img/medium/estrelas1_med.png");
    }
    .estrelas2{
        background-image: url("../img/medium/estrelas2_med.png");
    }
    .estrelas3{
        background-image: url("../img/medium/estrelas3_med.png");
    }
    .montanha1{
        background-image: url("../img/medium/montanha_med.png");
    }
    .montanha2{
        background-image: url("../img/medium/montanhap2_med.png");
    }
}

@media screen and (min-width: 1440px){

}

@media screen and (min-width: 1440px){

}

@media screen and (min-width: 2000px){
    .fundo1{
        background-image: url("../img/high/fundo_high.png");
    }
    .estrelas1{
        background-image: url("../img/high/estrelas1_high.png");
    }
    .estrelas2{
        background-image: url("../img/high/estrelas2_high.png");
    }
    .estrelas3{
        background-image: url("../img/high/estrelas3_high.png");
    }
    .montanha1{
        background-image: url("../img/high/montanha_high.png");
    }
    .montanha2{
        background-image: url("../img/high/montanhap2_high.png");
    }
}